.App {
	text-align: center;
}

.Button {
	border: 2px solid #2e41eb;
	background-color: #09cf83;
	color: white;
	border-radius: 10px;
	padding: 8px;
	cursor: pointer;
}

.Button:hover,
.Button:active {
	border: 2px solid #2e41eb;
	background-color: #ff4848;
	border-radius: 8px;
	padding: 8px;
	cursor: pointer;
}

